/*
@theme schodack
*/

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:ital@0;1&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Workbench&display=swap');

section {
  font-family: 'JetBrains Mono', monospace;

}

h1 {
  font-size: 60px;
  color: rgb(206,32,47);
  /* background-color: rgba(217, 228, 247, 0.671); */
  font-family: 'Hammersmith One', sans-serif;  
  text-shadow: 1px 1px 2px #c2bfbf;
}

h2 {
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}


.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    gap: 1rem;
  }

img[alt~="center"] {
    display: block;
    margin: 0 auto;
    }

/* blockquote h1{
  color: white;
  
}

blockquote{
  background-color: rgba(139, 137, 137, 0.377);
}

blockquote::before{
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} */


blockquote body { 
  background-color: #52ACFF; 
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%); } 
  
/* center the blockquote in the page */ 

blockquote-wrapper { display: flex; height: 100vh; padding: 0 20px; } 

/* Blockquote main style */ 
blockquote { position: relative; 
  font-family: 'Montserrat', sans-serif; 
  font-weight: 800; color: #ffffff; 
  padding: 30px 0; width: 100%; max-width: 900px; 
  z-index: 1; margin: 100px auto; align-self: center; 
  border-top: solid 1px; border-bottom: solid 1px;
  background-color: #ffffff3d; } 
  /* Blockquote header */ 
  
  blockquote h1 { position: relative; color: #FFFFFF; font-size: 60px; 
    font-weight: 800; line-height: 1; margin: 0; } 
    
  /* Blockquote right double quotes */ 

  blockquote:after { position: absolute; content: "”"; 
    color: rgba(255, 255, 255, 1); font-size: 10rem; line-height: 0; 
    bottom: -43px; right: 30px; } 
    
    /* increase header size after 600px */ 
    @media all and (min-width: 600px) { .blockquote h1 { font-size: 60px; } } 
    /* Blockquote subheader */ 
    
    blockquote h4 { position: relative; color: #292a2b; font-size: 1.4rem; 
      font-weight: normal; line-height: 1; margin: 0; padding-top: 20px; z-index: 1; }


section.lead h1 {
        text-align: center;
      }


section.halloween{
  background-color: rgb(177, 13, 177);
  background: #6032a8;
  color: white;

}
section.halloween h1, section.halloween h2, section.halloween h3 {
  color: Orange;
  font-family: 'Creepster', cursive;
  line-height: 0.8em;
  text-shadow: 0 0 20px #333;
}

section.halloween a {
  color: rgb(245, 162, 39);
}

section.halloween strong{
  color: rgb(248, 172, 73);
  text-shadow: 0 0 20px #333;
}

section.thanksgiving {
  background-color: #d35400; 
  color:#fff;
}


section.thanksgiving footer{
  color:#ffffff94;
}

/* Style the header with a Thanksgiving theme */
section.thanksgiving h1 {
  color: #722d12; /* White text */
  font-family: 'Lobster', sans-serif;
  text-shadow: 1px 1px 2px #cec8c8;

}

section.thanksgiving strong{
  color:#FFE32C;
}

section.thanksgiving a{
  color:#FFE32C;
  text-decoration: underline;
}


section.winter {
  color:snow;
  background-image: url("snowy.gif");
  text-shadow: 0 0 20px #333;
}

section.winter a{
  color:rgb(206,32,47);
}